<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= stylesheet_link_tag    "users", :media => "all" %>
  <%= javascript_include_tag "users" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<p>this is a layout for the users</p>
<%= yield %>

</body>
</html>
